<footer>
  <ul class="footer-legal-links">
    <li>
      <a href="http://help.ft.com/help/legal-privacy/terms-conditions">Terms
        &amp; Conditions</a>
    </li>
    <li>
      <a href="http://help.ft.com/help/legal-privacy/privacy/">Privacy</a>
    </li>
    <li>
      <a href="http://help.ft.com/help/legal-privacy/cookies/">Cookies</a>
    </li>
    <li>
      <a
        href="http://help.ft.com/help/legal-privacy/copyright/copyright-policy/"
      >Copyright</a>
    </li>
  </ul>
  <div class="footer-copyright">
    <p>
      © THE FINANCIAL TIMES LTD 2021.
      <abbr title="Financial Times" aria-label="Financial Times">FT</abbr>
      and ‘Financial Times’ are trademarks of The Financial Times Ltd.
    </p>
    <p>
      The Financial Times and its journalism are subject to a self-regulation
      regime under the
      <a href="/company/our-standards/editorial-code">FT Editorial Code of
        Practice</a>.
    </p>
  </div>
</footer>