<div class="header-container">
  <div class="logo-nav-container">
    <div class="logo-image"></div>
    <div class="nav-container">
      
        <ul>
          <li>ABOUT US</li>
          <li>COMPANY</li>
          <li>SERVICES</li>
          <li>CAREERS</li>
          <li>NEWS</li>
          <li>CONTACT</li>
        </ul>
     
    </div>
  </div>
  <form class="search-form" action="/" method="GET">
    <div class="input-container"> 
      <input
        id="search-input"
        class="search-input"
        type="text"
        placeholder="Search the FT"
        name="searchKey"
        value="{{searchKey}}"
      />
    </div>
  <button type="submit" ><i aria-label="search-icon" role="button"  class="fa fa-search"></i></button>
  </form>

</div>