<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FT TEST </title>
    <link href="css/style.css" rel="stylesheet" />
   <script src="js/paginate.js"></script>
    <script src="js/info.js"></script> 
    
</head>

<body>
    <div id="root" class="container">
        {{> header }}
   
       
       {{{ body }}}    
     
    <script src="js/scripts.js"></script>
    <script src="js/handlebars-v4.7.7.js"></script>
        {{> footer }}
    </div>
</body>

</html>